:root {
    --blue: #0035B9;
    --blue2: #2764ff;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
    background-color: white;
}

nav {
    position: fixed;
    /* width: 80px; */
    width: 80px;

    top: 0;
    height: 100vh;
    overflow: hidden;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.8);
    transition: width .3s ease;
    height: 100%;
    background-color: var(--blue);
    background-image: linear-gradient(to bottom,#00237a, #2764ff);
    z-index: 100;
}

nav:hover {
    width: 250px;
}

nav {
    height: 100vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.nav-item {
    display: inline-flex;
}

.nav-item > a {
    text-decoration: none;
    position: relative;
    display: block;
    font-weight: 100;
    font-size: 1.35em;
    color: white;
    width: 100px;
    margin: auto 0 auto 20px;
    padding: 10px 50px 10px 20px;
    transition: color .3s linear;

}

.nav-item > a:hover {
    color: white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    color: var(--blue);
    border-radius: 50px 0 0 50px;
}

.icon {
    width: 60px;
}