:root {
    --blue: #0035B9;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
    background-color: white;
}

main {
    margin: 0 0 0 80px;
}

.presentation {
    text-align: center;
    margin: 20px;
    height: 150px;
    z-index: -100;
}

/* The animation of the text */
/* The text is superposed with display absolute, and invisible woth the opacity 0 */
.presentation > h1 {
    width: 93%;
    font-size: 72px;
    position: absolute;
    margin-top: 0;
    text-align: center;
    opacity: 0;
}

/* Here we change the opacity of the text with this animation, the opacity is set at 1/4 of the time (we will see next step why) */
@keyframes emergence-1 {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    28% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* The time of animation is 40, we delay with 10s each text, we loop with animation-iteration-count */
.text-1 {
    animation-name: emergence-1;
    animation-duration: 40s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.text-2 {
    animation-name: emergence-1;
    animation-duration: 40s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

.text-3 {
    animation-name: emergence-1;
    animation-duration: 40s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
}

.text-4 {
    animation-name: emergence-1;
    animation-duration: 40s;
    animation-delay: 30s;
    animation-iteration-count: infinite;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    margin: 50px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 15px solid var(--blue);
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);

}

.element > img {
    z-index: 100;
    width: 200px;
    position: absolute;
    margin: 25px 50px;
    transition: all .3s linear;
}

.element > p {
    color: black;
    z-index: 50;
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
    width: 250px;
    margin: 25px 25px;
    font-size: 36px;
    opacity: 0;
    color: var(--blue);
    transition: all .3s linear;
}

.element:hover img {
    opacity: 0;
}

.element:hover p {
    opacity: 1;
}