:root {
    --blue: #0035B9;
}

@font-face {
    font-family: font-tel-aviv;
    src: url(../../src/Fonts/Silver_City.ttf);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
    background-color: white;
}

.menu {
    position: fixed;
    width: calc(100% - 80px);
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 80px;
    z-index: 1000;
}

.menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    transition: background-color .2s linear;
    
}

.menu a:hover {
    background-color: rgb(12, 40, 112);
}

.menu a:last-child {
    border-right: none;
}

main {
    margin: 0 0 0 80px;
    position: relative;
    top: 66px;
    margin-bottom: 100px;

}

@keyframes emergence {
    0% {
        opacity: 0;
        left: -200px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.img-city {
    background-image: url(../../src/img/tel-aviv.png);
    height: 100%;
    background-repeat: no-repeat;
}
    

.title {
    position: absolute;
    color: white;
    top: 250px;
    margin-left: 50px;
    animation-name: emergence;
    animation-duration: 2s;
    color: white;
    font-size: 72px;
    font-family: font-tel-aviv;
}

.content {
    margin: 20px 50px;
}

.section-title {
    border-bottom: thick solid var(--blue);
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

.section {
    margin: 20px;
}

.section > p {
    font-size: 20px;
    text-align: justify;
}

.section > p > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
}

.section > p > a:hover {
    color: rgb(58, 114, 255);
}

.info {
    display: inline-block;
}

.schedule {
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
}